#customize-controls .control-section-wellbeing-hospital .accordion-section-title:hover,
#customize-controls .control-section-wellbeing-hospital .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-wellbeing-hospital .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

	.rtl .control-section-wellbeing-hospital .accordion-section-title .button {
		margin-left:  0;
		margin-right: 8px;
	}
	.at-pro,li#accordion-panel-theme_option_panel h3.accordion-section-title, #widget-30_author-widget-__i__ .widget .widget-top {
		background: #009694!important;
		color: #fff!important;
		box-shadow: none!important;
	}
.at-pro:hover {
	background: #009694!important;
	color: #fff!important;
}
